*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
}
html{
    scroll-behavior: unset;
    overflow: hidden;
}
.contentInside{
    display: flex;
}
.background{
    background-image: url("../Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%
}
.yellowBack{
    position: absolute;
    height: 100%;
    right: 0%;
}
.curved{
    opacity: 70%;
    border-bottom: 700px solid gold;
	border-left: 150px solid transparent;
	height: 0;
	width: 300px;
}